<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
        <title>SenseHat messages</title>
    </head>
    <body>
        <h1>SenseHat messages</h1>
        <form method="post" action="message">
            <input type="text" name="message">
            <input type="submit">
        </form>
        <p>
            This page was hit {{ count }} times.
        </p>
    </body>